<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CMS{% endblock %}</title>
    {% load static %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{#     <link rel="stylesheet" href="{% static 'cms/fonts/font-awesome.min.css' %}" />#}
     <link rel="stylesheet" type="text/css" href="{% static 'cms/css/bootstrap.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'cms/css/style.css' %}"/>
     <script src="{% static 'cms/js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="{% url 'cms:index' %}">CMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">
              <span class="fa fa-mug-hot"></span>

          </a>
        </li>

    </ul>

      <ul class="navbar-nav mr-right">
           {% if user.is_authenticated %}
               <li class="nav-item text-white mr-3">
                  Logged in as {{ user.username }}
               </li>
               <li class="nav-item text-white mr-3">
                 <a class="btn btn-outline-primary" href="{% url 'accounts:profile' %}">Profile</a>
               </li>
          <li class="nav-item">
              <form method="post" action="{% url 'accounts:logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-secondary" >Logout</button>
              </form>
          </li>
          {% else %}
          <li class="nav-item mr-1" >
             <a class="btn btn-outline-secondary" href="{% url 'accounts:login' %}">Login</a>
          </li>
          <li class="nav-item">
             <a class="btn btn-outline-secondary" href="{% url 'accounts:signup' %}">Signup</a>
          </li>
          {% endif %}
      </ul>

  </div>
</nav>
<div class="container-fluid ">
    {% block body %}
    {% endblock %}
</div>


<script src="{% static 'cms/js/bootstrap.min.js' %}"></script>
<script>
    $('#myTab a').on('click', function (e) {
       e.preventDefault()
       $(this).tab('show')
    })
    $('#myModal').on('shown.bs.modal', function () {
       $('#myInput').trigger('focus')
    })
</script>
</body>
</html>