{% extends 'base.html' %}

{% block body %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now.</p>
	</div>
</div>

{% endblock %}