{% extends 'base.html' %}
{% block title %}Add new Album{% endblock %}
 {% block body %}

     <form method="post">
         {% csrf_token %}
         {{ form }}
     <button type="submit">Login</button>
     </form>

{% endblock %}