<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
     <th>title</th>
    <th>Avenue</th>
    <th>Name</th>
    </thead>
    <tbody>
       {% for meeting in meetings %}
            <tr>
                  <td>{{ meeting.title }}</td>
                  <td>{{ meeting.avenue }}</td>
                  <td>
                      {% for person in meeting.jsonTest.people %}
                          {{ person.name }}
                          {% endfor %}
                  </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>