{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Add new Lead{% endblock %}
 {% block body %}

     <div class="row">
       <div class="col-md-4 offset-4">
           <div class="card">
               <div class="card-header">
                   <h5>New Customer</h5>
               </div>
               <div class="card-body">
                   {% crispy form form.helper %}


                    {% if messages %}
                        <div class="mt-3 row">
                            {% for message in messages %}
                            <div  {% if message.tags %} class="alert alert-danger col-md-10 offset-1" {% endif %}> {{ message }} </div>
                            {% endfor %}
                        </div>
                    {% endif %}
               </div>
           </div>
       </div>

    </div>

{% endblock %}