
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="row mt-5">
    <div class="col-md-3 offset-4">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'accounts:login' %}" class="site-form">
                    {% csrf_token %}

                         {{ form}}


                    {% if request.GET.next %}
                       <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                  <input class="btn btn-primary mt-4" type="submit" value="Login">
                </form>
                 <div>
                     <a href="{% url 'password_reset' %}">Forgot password</a>
                 </div>
            </div>
        </div>
    </div>
    </div>

<style>
.errorlist {
    list-style: none;
    color:red;
}
</style>
{% endblock %}