{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}
{% block body %}
    <div class="row mt-5">
     <div class="col-md-3 offset-4">
         <div class="card">
             <div class="card-header">Edit Profile</div>
             <div class="card-body">
                     <form method="post" action="/accounts/signup/" class="site-form">
                        {% csrf_token %}
{#                        {{ form }}#}
                          {% for field in form %}
                              <div class="mb-4">
                                 {{ field.label_tag }}
                                 {{ field }}

                               {% if field.help_text %}
                                  <small class="text-info">{{ field.help_text }}</small>
                              {% endif %}
                              </div>
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                   <small class="text-danger">{{ error}}</small>
                                </div>
                            {% endfor %}
                        {% endfor %}
                         <button type="submit"  class="btn btn-primary form-control">Signup</button>
                    </form>
             </div>
         </div>
     </div>
    </div>


{% endblock %}