{% extends 'base.html' %}
  {% block title %}Lead Details{% endblock %}
{% block body %}

    <div class="row mt-5">
        <div class="col-md-12 offset-4 mt-5">
            <h1 class="mt-5">Welcome to CMS</h1>
        </div>
    </div>

{% endblock %}