
{% extends 'base.html' %}
  {% block title %}Lead{% endblock %}
{% block body %}
    <div class="row">
      <div class="col-md-4 offset-4">
          <h1>XYZ CUSTOMERS </h1>
      </div>
    </div>
    <div class="row">
     <div class="col-md-4">
         <div class="row ml-3">
             <a class="btn btn-primary" href="{% url 'cms:lead-add' %}">New </a>
         </div>
     </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Leads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Potential</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Opportunity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="false">Customer</a>
          </li>
       </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active mt-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <table class="table table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>email</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in leads %}
                            {% if lead.stage == 'LEAD' %}
                            <tr>
                               <td>{{ lead.name }}</td>
                               <td>{{ lead.email }}</td>
                               <td>
                                   <a class="btn btn-sm btn-info" href="{% url 'cms:lead-details' lead.id %}" >
                                       <i class="fa fa-eye"></i>
                                   </a>
                               </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="tab-pane fade mt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                   <table class="table table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in leads %}
                            {% if lead.stage == 'POTENTIAL' %}
                            <tr>
                               <td>{{ lead.name }}</td>
                               <td>{{ lead.email }}</td>
                               <td>
                                   <a class="btn btn-sm btn-info" href="{% url 'cms:lead-details' lead.id %}" >
                                       <i class="fa fa-eye"></i>
                                   </a>
                               </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="tab-pane fade mt-5" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in leads %}
                            {% if lead.stage == 'OPPORTUNITY' %}
                            <tr>
                               <td>{{ lead.name }}</td>
                               <td>{{ lead.email }}</td>
                               <td>
                                   <a class="btn btn-sm btn-info" href="{% url 'cms:lead-details' lead.id %}" >
                                       <i class="fa fa-eye"></i>
                                   </a>
                               </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="tab-pane fade mt-5" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                  <table class="table table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in leads %}
                            {% if lead.stage == 'CUSTOMER' %}
                            <tr>
                               <td>{{ lead.name }}</td>
                               <td>{{ lead.email }}</td>
                               <td>
                                   <a class="btn btn-sm btn-info" href="{% url 'cms:lead-details' lead.id %}" >
                                       <i class="fa fa-eye"></i>
                                   </a>
                               </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
              </div>

            </div>
        </div>

    </div>

{% endblock %}