{% extends 'base.html' %}
  {% block title %}Lead Details{% endblock %}
{% block body %}
    <div class="row">
      <input type="hidden" value="{{ lead.id }}" id="lead_id">
       <div class="col-md-4">
           <div class="card">
              <div class="row ml-1">
                  <div class="col-md-12 mb-2">Name: {{ lead.name }}</div>
                  <div class="col-md-12 mb-2">Email: {{ lead.email }}</div>
                  <div class="col-md-12 mb-2">Address: {{ lead.address }}</div>
                  <div class="col-md-12 mb-2 default">
                  </div>

                  <div class="col-md-12 mb-2" id="stageview">
                      <a class="btn btn-sm btn-primary" id="triger_stage" href="javascript:void(0)">Next stage</a>
                  </div>
                  <div class="col-md-12  mb-2 invisible ajaxresult"></div>
              </div>
           </div>
       </div>
    </div>

    <div class="row mt-4">
       <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Meeting</a>
              </li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row mt-3">
                      <div class="col-md-4 offset-1">
                         <div class="row ml-3">
                             <a class="btn btn-primary" href="{% url 'cms:contact_add' lead.id %}">New </a>
                         </div>
                     </div>
                  </div>
                  <div class="row mt-5">
                      <div class="col-md-8 offset-1">
                         <table class="table table-hover" id="contacts" >
                             <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Is Primary</th>
                                    <th>Action</th>
                                </tr>
                             </thead>
                             <tbody>
{#                             {% for contact in lead.contact_set.all %}#}
{#                                 <tr>#}
{#                                    <td>#}
{#                                        {{ contact.name }}#}
{#                                    </td>#}
{#                                    <td>#}
{#                                         {{ contact.phone }}#}
{#                                    </td>#}
{#                                   <td>#}
{#                                        {{ contact.email }}#}
{#                                   </td>#}
{#                                   <td>#}
{#                                        {% if contact.primary %}#}
{#                                            YES#}
{#                                        {% else %}#}
{#                                            NO#}
{#                                         {% endif %}#}
{#                                   </td>#}
{##}
{#                                 </tr>#}
{#                             {% endfor  %}#}
                             </tbody>
                         </table>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                   <div class="row mt-3">
                      <div class="col-md-4 offset-1">
                         <div class="row ml-3">
                             <a class="btn btn-primary" href="{% url 'cms:meeting_add' lead.id %}">New </a>
                         </div>
                     </div>
                  </div>
                  <div class="row mt-5">
                      <div class="col-md-10 offset-1">
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                    <th width="20%">Title</th>
                                    <th>Avenue</th>
                                    <th>Date </th>
                                    <th>Meeting Minute</th>
                                    <th width="30%">About</th>
                                    <th width="30%">Conclusion</th>
                                </tr>
                              </thead>
                              <tbody>
                                 {% for m in lead.meeting_set.all %}
                                     <tr>
                                         <td>{{ m.title }}</td>
                                         <td>{{ m.avenue }}</td>
                                         <td width="10%">{{ m.date|date:'d-m-y' }}</td>
                                         <td>
                                             <a class="btn btn-sm btn-primary" href="{{ m.minute.url }}" target="_blank" type="application/octet-stream" download>
                                                 <i class="fa fa-download"></i>
                                                 Download
                                             </a>
                                         </td>
                                         <td>{{ m.about }}</td>
                                         <td>{{ m.conclusion }}</td>
                                     </tr>
                                 {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

            </div>
       </div>
    </div>

{#    Modal#}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="stagemsg"></div>

      </div>
        <input type="hidden" value="{{ lead.id }}  " id="leadid" >
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="change_stage">Change Stage</button>
      </div>
    </div>
  </div>
</div>





    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="message">

      </div>
        <input type="hidden"  id="contactId" >
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="changeContactStatus">Confirm</button>
      </div>
    </div>
  </div>
</div>



    <script>
        var stage=''
       $(function(){
            f()
            viewContacts()
       })

     $(document).on('click', '#triger_stage', function (e) {
         $("#stagemsg").text(' You about to move this Lead to '+stage+' stage are you sure')
         $("#exampleModal").modal()
     });
      $(document).on('click','#change_stage',function () {
          {#console.log($('#leadid').val())#}
          $.ajax({
					url:"http://localhost:8000/api/leads/"+$('#leadid').val()+"/change_stage/",
			        type : "GET",
			        contentType: 'application/json',
			        success : function(result, textStatus, jQxhr) {
                        //$("#ra_save").removeClass('disabled');
                        console.log(result);
                        if(result.code === 200){
                            $("#exampleModal").modal('hide');

                            $('.ajaxresult').addClass('text-info').text("Stage Changed successfully").removeClass('invisible')
                             f();
                        }else{
                             $('.ajaxresult').addClass('text-danger').text('Stage not changed').removeClass('invisible')
                        }
					}

					});
      })

      function f() {
           $.ajax({
                    url:"http://localhost:8000/api/leads/"+$("#lead_id").val()+"/stage",
			        type : "GET",
			        contentType: 'application/json',
			        success : function(result, textStatus, jQxhr) {
                        //$("#ra_save").removeClass('disabled');
                        console.log(result)
                        $('.default').text('Stage: '+result.lead.stage);
                        stage=result.stage
                        if(result.lead.stage==='CUSTOMER'){
                            $("#stageview").addClass('invisible')
                        }else{
                            $("#stageview").removeClass('invisible')
                        }
					}
					});
      }



    function viewContacts() {
           $.ajax({
                    url:"http://localhost:8000/api/contacts/"+$("#lead_id").val()+"/bylead",
			        type : "GET",
			        contentType: 'application/json',
			        success : function(result, textStatus, jQxhr) {
                        if(result.contacts.length!=0){
                             $("#contacts .ctr").remove();
                        }

                        if(result.code===200){
                             var trHTML =''

                             $.each(result.contacts, function(i, item) {
                                   let primary=(item.primary)? "YES":"NO"
                                   let primaryAction=''
                                   let contacId='<input type="hidden" id="contactIdValue" value="'+item.id+'">'

                                     if(item.primary){
                                         primaryAction='<a href="javascript:void(0)" class="btn btn-sm btn-danger" id="turnToRegular">Make Regular Contact</a>'
                                     }else{
                                         primaryAction='<a href="javascript:void(0)" class="btn btn-sm btn-primary" id="turnToPrimary">Make primary Contact</a>'
                                     }

                                   trHTML += "<tr class='ctr'>"
                                         +'<td>'+item.name+'</td>'
                                         +'<td>'+item.phone+'</td>'
                                         +'<td>'+item.email+'</td>'
                                         +'<td>'+
                                            primary
                                         +'</td>'
                                           +'<td>'+
                                             primaryAction+''+
                                             contacId
                                           +'</td>'

                                   +"</tr>"
                             })
                             $('#contacts tbody').append(trHTML)
                        }else{
                            console.log('not found')
                        }
					}
					});
      }

var primary=false
      $(document).on('click', '#turnToRegular', function (e) {
          primary=false
          $('#contactId').val($(this).closest('tr').find('#contactIdValue').val())
          $("#message").text('You are about to make this contact a regular contact')
          $("#contactModal").modal()
     });
      $(document).on('click', '#turnToPrimary', function (e) {
          primary=true
          $('#contactId').val($(this).closest('tr').find('#contactIdValue').val())
          $("#message").text('You are about to make this contact a Primary contact')
          $("#contactModal").modal()
     });



    {# confirm primary contact#}
    $(document).on('click','#changeContactStatus',function (){

       if(!primary){
            makeRegular()
       }else{
            makePrimary()
       }
    })



    function makeRegular(){

         $.ajax({
					url:"http://localhost:8000/api/contacts/"+$('#contactId').val()+"/regular/",
			        type : "GET",
			        contentType: 'application/json',
			        success : function(result, textStatus, jQxhr) {

                        if(result.code === 200){
                            viewContacts()
                        }else{

                        }
					}

					});
     $("#contactModal").modal('hide')
    }





    function makePrimary(){
         $.ajax({
					url:"http://localhost:8000/api/contacts/"+$('#contactId').val()+"/primary/",
			        type : "GET",
			        contentType: 'application/json',
			        success : function(result, textStatus, jQxhr) {

                        if(result.code === 200){
                            viewContacts()
                        }else{
                           alert(result.msg)
                        }
					}

					});
           $("#contactModal").modal('hide')
    }

    </script>
{% endblock %}