{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Add new Meeting{% endblock %}
 {% block body %}

     <div class="row">
       <div class="col-md-4 offset-4">
           <div class="card">
               <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                              <h5>New Meeting</h5>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'cms:lead-details' lead_id %}" class="pull-right">
                                   <i class="fa fa-times"></i>
                             </a>
                        </div>
                    </div>

               </div>
               <div class="card-body">
                   {% crispy form form.helper %}

                   {% if messages %}
                        <div class="mt-3 row">
                            {% for message in messages %}
                            <div  {% if message.tags %} class="alert alert-danger col-md-10 offset-1" {% endif %}> {{ message }} </div>
                            {% endfor %}
                        </div>
                    {% endif %}
               </div>
           </div>
       </div>

    </div>

{% endblock %}